.user-artists,
.user-tracks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: content;
    gap: 2rem;
    row-gap: 1rem;
}

.artist-title,
.track-title {
    font-size: 4rem;
    text-align: left;
    font-weight: bold;
    color: var(--text-color);
    margin: 3rem;
}

.artist-pill:hover,
.track-pill:hover {
    background-color: var(--primary);
    color: black;
}

.artist-pill,
.track-pill {
    flex-grow: 1;
}

.artist-image,
.track-image {
    width: 4rem;
    height: 4rem;
}

@media (min-width: 1100px) {
    .track-pill,
    .artist-pill {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        max-width: 45%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 600px) {
    .artist-title,
    .track-title {
        font-size: 2rem;
        margin: 2rem 1rem;
    }

    .artist-name,
    .track-name {
        font-size: 1rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .artist-image,
    .track-image {
        width: 2rem;
        height: 2rem;
        margin-right: 0rem;
    }

    .user-artists,
    .user-tracks {
        width: 90%;
        gap: 0.5rem;
        row-gap: 0.5rem;
    }
}
