@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Spotify';
    src: url('https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2')format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    --primary: #1DB954;
    --secondary: #121212;
    --text-color: white;
    --pill-bg: #282828; // Darker background for pills
    --pill-hover: #333333; // Hover effect for pills

    background-color: var(--secondary);
    color: var(--text-color);

    padding: 0px;
    margin: 0px;

    font-family: 'Spotify', 'Montserrat', serif !important;
}

#app-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 2rem;
}

button {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
    margin: 20px;
    font-weight: bold;
    font-family: inherit;
}

button:hover {
    background-color: #1ed760;
}

.error-message {
    color: white;
    margin-top: 20px;
    background-color: red;
    padding: 10px;
    z-index: 100;
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}