body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}

.user-info {
    margin-top: 20px;
}

button {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1ed760;
}